body{
    margin: 0px;
    padding: 0px;
}

div.container{
    width: 100vw;
    height: 100vh;
    background-color: #8380FF;
}

nav.heading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

div.headIcon{
    font-size: 1.5rem;
}