@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

@font-face {
    font-family: 'Fuente cool';
    src: url('../fonts/Lovely\ Rainy.ttf');
}

.imagen {
    width: 10rem;
    margin-bottom: 0.5rem;
  }

.container-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    background-color: transparent;
}

body{
    font-family: 'Acme', sans-serif;
    background: #4568DC;
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    background: linear-gradient(to right, #B06AB3, #4568DC); 
}

.form-text {
  padding-bottom: 10px;
  text-align: center;
}

.form-text-child{
  padding-right: 5px;
}

@media (min-width: 800px) {
    .imagen {
      width: 20rem;
      margin-bottom: 1rem;
    }
  
    .imagen {
      margin-bottom: 2rem;
    }

  }